a:hover, a:active { outline: none; }
.radios     {
	color: #111;
}
.radio {
	float: left;
}
.label_check input,
.label_radio input  {
	margin: 0;
	
}

.has-js .label_check,
.has-js .label_radio    {
	font-size: 13px;
	color: #444;
	margin-right: 12px;
	padding-left: 25px;
	cursor: pointer;
	display:inline-block;
	height: 18px;
	line-height: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;

}
.has-js .label_radio    {
	background: url(../images/radios.png) no-repeat;
	background-position: 0px 0px;
}
.has-js .label_radio:hover    {
	background: url(../images/radios.png) no-repeat;
	background-position: 0px -20px;
}
.has-js .label_check    {
	background: url(../images/checks.gif) no-repeat;
	background-position: 0px 0px;
}
.has-js .label_check:hover    {
	background: url(../images/checks.gif) no-repeat;
	background-position: 0px -20px;
}
.has-js label.c_on      {
	background: url(../images/checks.gif) no-repeat;
	background-position: 0px -40px;
}
.has-js label.c_on:hover      {
	background: url(../images/checks.gif) no-repeat;
	background-position: 0px -60px;
}
.has-js label.r_on      {
	background: url(../images/radios.png) no-repeat;
	background-position: 0px -40px;
 }
 .has-js label.r_on:hover      {
	background: url(../images/radios.png) no-repeat;
	background-position: 0px -60px;
 }
.has-js .label_check input,
.has-js .label_radio input  { position: absolute; left: -9999px;}
