@charset "utf-8";

/*********************/
/* Demo Page Styling */
/*********************/
body
{
	font-family: 'Droid Sans', Arial, sans-serif;
}
.sidebar
{
	width: 160px;
	background-image: url('../images/debut_dark.png');
	box-shadow: -2px 0px 6px #111 inset;
	-moz-box-shadow: -2px 0px 6px #111 inset;
	-webkit-box-shadow: -2px 0px 6px #111 inset;
	margin: 0;
	padding: 0;
	height: 100%;
	margin-top: -3px;
	position: fixed;
	margin-left: -5px;
	padding-top: 170px;
}
.sidebar li
{
	display: block;
	opacity: .95;
	padding: 0px;
	position: relative;
}
.sidebar > li
{
	display: block;
	border-bottom: 1px solid #888;
	border-top: 1px solid #333;
	opacity: .95;
	padding: 0px;
	position: relative;
}
.sidebar li:first-child
{
	border-top: none;
}
.sidebar li:last-child
{
	border-bottom: none;
}
.sidebar li:hover
{
	opacity: 1;
	border-bottom-color: 1px solid #ddd;
	background-color: none;
}
.sidebar li a
{
	padding: 0;
	margin: 0;
	color: #ccc;
	text-align: right;
	text-decoration: none;
	font-style: none;
	display: block;
	padding-top: 22px;
	padding-right: 10px;
	height: 29px;
	font-size: 16px;
}
.sidebar li.active .sub-list
{
	display: block;
	height: auto;
}




.nav > li > a:hover, .nav > li > a:focus
{
	color: #FFF;
	background-color: inherit;
	background: inherit;
}
.sidebar li.active
{
	background-color: none;
	box-shadow: 0px 0px 12px #111 inset;
	border-bottom: none;
	padding-bottom: 1px;
	margin-top: -1px;
}
.sidebar li.active a
{
	padding-top: 23px;
}
.sidebar li.active:after
{
	content: '';
	position: absolute;
	right: -10px;
	top: 23px;
	margin-top: -23px;
	width: 0; 
	height: 0;
	border-top: 26px solid transparent;
	border-bottom: 26px solid transparent; 
	border-left: 12px solid #555;
	z-index: 997;
	opacity: 1;
}
.sidebar li.active:before
{
	content: '';
	position: absolute;
	right: -11px;
	top: 22px;
	margin-top: -23px;
	width: 0; 
	height: 0;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent; 
	border-left: 13px solid #222;
	z-index: 996;
	opacity: 1;
}

.sidebar li.active a
{
	background-color: none;
	color: #fff;
}


/* Head */
.cover_1
{
	position: absolute;
	display: block;
	left: 150px;
	padding-left: 45px;
	padding-right: 15px;
	right: 0;
}
h1
{
	font-size: 88px;
	font-weight: 400;
	color: #999;
	padding: 0;
	padding-top: 83px;
	border-bottom: 1px solid #E9E9E9;
	line-height: 125%;
	width: 100%;
	display: block;
	margin-top: 0px;
}
.author
{
	margin-left: 5px;
	color: #888;
	display: inline-block;
	font-size: 13px;
	margin-top: 4px;
	margin-right: 25px;
}


/* Content */
h2
{
	font-size: 38px;
	font-weight: 400;
	color: #777;
	margin-top: 200px;
	border-bottom: 1px solid #EBEBEB;
	padding: 0;
	line-height: 135%;
	width: 100%;
	display: block;
	margin-bottom: 10px;
}
h3
{
	font-size: 28px;
	font-weight: 400;
	color: #777;
	margin-top: 50px;
	border-bottom: 1px solid #EBEBEB;
	padding: 0;
	line-height: 135%;
	width: 100%;
	display: block;
	margin-bottom: 15px;
}
h4
{
	font-size: 24px;
	font-weight: 400;
	color: #777;
	margin-top: 25px;
	border-bottom: 1px solid #EBEBEB;
	padding: 0;
	line-height: 135%;
	width: 100%;
	display: block;
}
p
{
	line-height: 180%;
	font-size: 16px;
}
ol
{
	font-size: 16px;
}
em.surround
{
	font-style: normal;
	color: #111;
	border: 1px solid #ddd;
	padding: 2px 8px;
	background-color: #F2F2F2;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
ol li
{
	line-height: 230%;
}
.l40
{
	margin-left: 40px;
}

pre
{
	white-space: pre-line;
}

a.big-button {

	line-height: 120%;
	position: relative;
    color: #E8EAFF;
    min-width: 180px;

    text-decoration: none;
    background-color: #9A9A9A;
    font-weight: 800;
    font-size: 24px;
    display: inline-block;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 0px #6C6C6C, 0px 4px 10px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 3px 0px #6A6A6A, 0px 4px 10px rgba(0,0,0,.7);
    box-shadow: 0px 3px 0px #6A6A6A, 0px 4px 10px rgba(0,0,0,.7);

    margin: 50px 40px 5px 0px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	cursor: pointer;
	padding: 17px 80px 17px 20px;
	border-bottom: 1px solid #7E7E7E;
}

#button1
{
	background-image: url('../images/down.png');
	background-position: 109% 50%;
	background-repeat: no-repeat;
}
#button1:hover
{
	background-image: url('../images/down2.png');
	background-repeat: no-repeat;

}
#button2
{
	background-image: url('../images/right.png');
	background-position: 109% 50%;
	background-repeat: no-repeat;
}
#button2:hover
{
	background-image: url('../images/right2.png');
	background-repeat: no-repeat;
}

a.big-button:active {
    -webkit-box-shadow: 0px 1px 0px #757575, 0px 1px 4px #6E6E6E;
    -moz-box-shadow: 0px 1px 0px #757575, 0px 1px 4px #6E6E6E;
    box-shadow: 0px 1px 0px #757575, 0px 1px 4px #6E6E6E;
    position: relative;
    top: 2px;
    color: #fff;
}
a.big-button:hover {
    color: #fff;
    background-color: #6CA6E6;
}


.nform_demo_cover
{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}
.nform_demo_cover.left
{
	margin-right: 6%;
}
.h2
{
	padding-top: 35px;
}

@media (max-width: 720px){
#navcover
{
	display: none;
}
.sidebar
{
	display: none;
	width: 0px;
}
.cover_1
{
	position: relative;
	left: 0px;
}
.nform_demo_cover.left
{
	width: 100%;
	display: block;
}
.nform_demo_cover.left
{
	margin-right: 0%;
}
}

.nform
{
	min-width: 500px;
}
