/* Form */
.nform
{
	margin: 0 !important;
	padding: 0;
	border: 1px solid #DDD;
	box-shadow: 0px 2px 5px #E2E2E2;
	-moz-box-shadow: 0px 2px 5px #E2E2E2;
	-webkit-box-shadow: 0px 2px 5px #E2E2E2;
}
.form_ul > li
{
display: block;
padding: 4px 0px;
height: auto;
}
#form_ul > li
{
	background-image: none;
}

.bootstrap.nform ul.form_ul
{
	margin: 0;
	border-top: 1px solid #ddd;
	margin-top: -1px;
	padding: 14px;
}
.ff_c_t .nform .form_title
{
	border-bottom: 1px solid #ddd;
}
.ff_c_t .nform.carbon .form_title
{
	border-bottom: 1px solid #222;
}
.bootstrap.nform select
{
	padding: 5px;
	height: 2.3em;
	margin-bottom: 2px;
}

/* Input Captions */
.nform .cap_cover
{
	display: inline-block;
	height: 32px;
	padding-left: 1%;
	text-align: right;
	padding-right: 4%;
	white-space: pre;
	vertical-align: top;
	width: 25%;
	position: relative;
}
.nform .cap1
{
	font-weight: bold;
	display: block;
	line-height: 19px;
	color: #777;
	min-height: 19px;
}
.nform .cap2
{
	font-weight: normal;
	font-size: 11px;
	color: #999;
	font-style: italic;
	display: block;
	line-height: 10px;
}
.nform .cap_cover.relative
{
	width: auto;
}


.nform .cap1.subl
{
	line-height: 26px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.nform.label_line .cap1.subl
{
	padding-top: 6px;
}
.nform .cap2.subl
{
	display: none;
}
.nform .form_title
{
	color: #888;
	line-height: 220%;
	padding-left: 18px;
	box-shadow: 0px -1px 2px -1px #c6c6c6 inset;
	-moz-box-shadow: 0px -1px 2px -1px #c6c6c6 inset;
	-webkit-box-shadow: 0px -1px 2px -1px #c6c6c6 inset;
}

.nform .form_title.none
{
	background-color: #fafafa;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.nform.none
{
	background-color: #fff;
}

.form_title.satin
{
	background-image: url('../images/satinweave.png');
}
.nform.satin
{
	background-image: url('../images/satinweave2.png');
}

.nform .div_text2
{
	background: #fff;
	padding-left: 6px;
	padding-right: 6px;
}
.nform.satin .div_text2
{
	background: url('../images/satinweave2.png');
}


.nform.carbon .div_text2
{
	background: url('../images/carbon.png');
	color: #eee;
}
.nform .will .div_text, .nform .carbon .div_text
{
	color: #eee;
}



.form_title.carbon
{
	background-image: url('../images/carbon2.png');
	color: #FFF;
	box-shadow: 0px -1px 2px -1px #000 inset;
	-moz-box-shadow: 0px -1px 2px -1px #000 inset;
	-webkit-box-shadow: 0px -1px 2px -1px #000 inset;
}
.bootstrap.nform.carbon ul.form_ul
{
	border-top: 1px solid #222;
}
.nform.carbon ul.form_ul
{
	border-top: 1px solid #222;
}
.nform.carbon
{
	color: white;
	background-image: url('../images/carbon.png');
}
.nform.carbon .div_text2
{
	background: url('../images/carbon.png');
}
.nform .carbon .c_image
{
	box-shadow: 0px 1px 4px #111;
	-moz-box-shadow: 0px 1px 4px #111;
	-webkit-box-shadow: 0px 1px 4px #111;
}



.form_title.jean
{
	background-image: url('../images/jean2.png');
}
.nform.jean .div_text2
{
	background: url('../images/jean.png');
}
.nform.jean
{
	background-image: url('../images/jean.png');
}

.form_title.debut
{
	background: url('../images/debut2.png');
}
.nform.debut .div_text2
{
	background-image: url('../images/debut.png');
}
.nform.debut
{
	background-image: url('../images/debut.png');
}



.nform .div_text
{
display: block;
white-space:pre-wrap;
}
.nform .div_text2
{
width: 96%;
white-space:pre-wrap;
}
.nform .c_image
{
	cursor: pointer;
}
#fe_submit
{
	text-align: center;
}


.nform .box_cover
{
	display: inline-block;
	padding-bottom: 4px;
	position: relative;
}
.has-js .box_cover.lines .label_check, .has-js .box_cover.lines .label_radio

{
	display: block;
	clear: none;
}

.nform .inst{
	position: relative;
	left: 0%;
	color: #888;
	font-size: 12px;
	text-align: left;
	display: block;
	max-width: 210px;
}

.nform .inst.sld
{
	bottom: -10px;
}

.nform .input_cover
{
	position: relative;
	height: 100%;
	width: 68%;
}
.nform.label_line .input_cover
{
	position: relative;
	height: 100%;
	width: 85%;
}
.nform .text_cover
{
	display: inline-block;
}
.nform .upload_input_cover
{
	display: inline-block;
	max-width: 160px;
}

.nform .valid_show
{
	background-color: #FF3535;
	color: white;
	position: absolute;
	padding: 3px 6px;
	margin-left: 18px;
	white-space: nowrap;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
	opacity: .9;
	top: 0px;
	left: 95%;
	box-shadow: -2px 2px 2px -1px #444;
	-moz-box-shadow: -2px 2px 2px -1px #444;
	-webkit-box-shadow: -2px 2px 2px -1px #444;
	border: 1px solid #DF0000;
	z-index: 1000;

}
.nform .valid_show:before
{
	content: '';
	position: absolute;
	width: 0; 
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent; 
	border-right: 8px solid #FF3535;
	z-index: 999;

}
.nform .valid_show:after
{
	content: '';
	position: absolute;
	width: 0; 
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent; 
	border-right: 9px solid #444;
	z-index: 998;
	opacity: .9;

}
.nform.one .valid_show
{
	color: white;
	position: absolute;
	margin-left: 14px;
	min-width: 120px;
	white-space: nowrap;
	font-size: 12px;
	border: 1px solid red;
	border-left: 1px solid inherit;
	border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;


}
.nform.one .valid_show:before
{
	left: -7px;
	top: 3px;

}
.nform.one .valid_show:after
{
	left: -9px;
	top: 3px;

}


.nform.three .valid_show
{
	background-color: #FF3535;
	color: white;
	position: absolute;
	margin-left: -10px;
	top: -42px;
	min-width: 120px;
	white-space: nowrap;
	font-size: 12px;
	border: 1px solid red;
	display: none;
	z-index: 999;
	box-shadow: -2px 2px 2px -1px #444;
	-moz-box-shadow: -2px 2px 2px -1px #444;
	-webkit-box-shadow: -2px 2px 2px -1px #444;
}

.nform.three .valid_show:before
{
	content: '';
	position: absolute;
	left: -10px;
	top: 27px;
	left: 10px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent; 
	border-top: 10px solid #FF3535;
	z-index: 1002;

}
.nform.three .valid_show:after
{
	content: '';
	position: absolute;
	left: -11px;
	top: 27px;
	left: 7px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent; 
	border-top:11px solid #444;
	z-index: 1001;

}



.nform .nform_btn {
height: auto;
  display: inline-block;
  color: #fff;
  background: #0083EE;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0px 1px #999;
  -moz-text-shadow: 0px 1px #999;
  -webkit-text-shadow: 0px 1px #999;
  opacity: .9;
}

.nform .nform_btn:hover  
{  
	color: #FFF; 
	opacity: 1; 
}

.nform .embossed-link {
  box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.nform .nform_btn.embossed-link:active {
  box-shadow: 
    inset 0 -2px 1px rgba(255,255,255,0.2),
    inset 0 3px 2px rgba(0,0,0,0.12);
}


.nform .nform_btn.embossed-link {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2),
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.15), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}




.nform .nform_btn.custom {
	-moz-box-shadow:inset 0px 0px 3px #ffffff;
	-webkit-box-shadow:inset 0px 0px 3px #ffffff;
	box-shadow:inset 0px 0px 3px #ffffff;
	border:1px solid #C4C4C4;
	display:inline-block;
	color:#666;
	background: #eee;
	font-weight: bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.nform .nform_btn.custom:hover 
{
	background-color:#dfdfdf;
}
.nform .nform_btn.custom:active 
{
	position:relative;
	top:1px;
}


.nform .slider
{
	margin-bottom: 12px;
}
.nform .slider-range
{
	margin-bottom: 12px;
}
.nform .brk
{
	display: block;
	height: 10px;
}
.nform .ui-slider-handle
{
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.nform .ui-slider-range-min
{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #E1E1E1;

}
.nform .slider_txt
{
	font-size: 12px;
	color: #555;
	padding-left: 12px;
}
.nform .slider_val
{
	font-size: 12px;
	color: #555;
	margin-left: 60px;
}

.nform .show_1
{
	font-size: 18px;
	font-weight: bold;
	color: red;
	position: absolute;
	line-height: 17px;
}
.nform .show_0
{
	display: none;
}



.transparent textarea, .transparent input[type="text"], .transparent input[type="password"], .transparent input[type="datetime"], .transparent input[type="datetime-local"], .transparent input[type="date"], .transparent input[type="month"], .transparent input[type="time"], .transparent input[type="week"], .transparent input[type="number"], .transparent input[type="email"], .transparent input[type="url"], .transparent input[type="search"], .transparent input[type="tel"], .transparent input[type="color"], .transparent .uneditable-input
{
	box-shadow: 2px 2px 3px #E4E4E4 inset;
	-moz-box-shadow: 2px 2px 3px #E4E4E4 inset;
	-webkit-box-shadow: 2px 2px 3px #E4E4E4 inset;
	background-image: inherit;
	background: inherit;
}
.transparent.carbon textarea, .transparent.carbon input[type="text"], .transparent.carbon input[type="password"], .transparent.carbon input[type="datetime"], .transparent.carbon input[type="datetime-local"], .transparent.carbon input[type="date"], .transparent.carbon input[type="month"], .transparent.carbon input[type="time"], .transparent.carbon input[type="week"], .transparent.carbon input[type="number"], .transparent.carbon input[type="email"], .transparent.carbon input[type="url"], .transparent.carbon input[type="search"], .transparent.carbon input[type="tel"], .transparent.carbon input[type="color"], .transparent.carbon .uneditable-input
{
	box-shadow: 2px 3px 3px #333 inset;
	-moz-box-shadow: 2px 3px 3px #333 inset;
	-webkit-box-shadow: 2px 3px 3px #333 inset;
	background-image: url('../images/carbon.png');
	color: #fff;
	border: 1px solid #777;
	opacity: .9;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], .uneditable-input, select
{
	height: auto;
	min-height: 20px;
}
.nform textarea, .nform input[type="text"], .nform input[type="password"], .nform input[type="datetime"], .nform input[type="datetime-local"], .nform input[type="date"], .nform input[type="month"], .nform input[type="time"], .nform input[type="week"], .nform input[type="number"], .nform input[type="email"], .nform input[type="url"], .nform input[type="search"], .nform input[type="tel"], .nform input[type="color"], .nform .uneditable-input
{
	margin-bottom: 1px;
box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
}
.add-on
{
box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
}


.curvy select, .curvy textarea, .curvy input[type="text"], .curvy input[type="password"], .curvy input[type="datetime"], .curvy input[type="datetime-local"], .curvy input[type="date"], .curvy input[type="month"], .curvy input[type="time"], .curvy input[type="week"], .curvy input[type="number"], .curvy input[type="email"], .curvy input[type="url"], .curvy input[type="search"], .curvy input[type="tel"], .curvy input[type="color"], .curvy .uneditable-input
{
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 1px 1px 2px #E4E4E4 inset;
	-moz-box-shadow: 1px 1px 2px #E4E4E4 inset;
	-webkit-box-shadow: 1px 1px 2px #E4E4E4 inset;
	padding-left: 12px;

}
.carbon select, .carbon textarea, .carbon input[type="text"], .carbon input[type="password"], .carbon input[type="datetime"], .carbon input[type="datetime-local"], .carbon input[type="date"], .carbon input[type="month"], .carbon input[type="time"], .carbon input[type="week"], .carbon input[type="number"], .carbon input[type="email"], .carbon input[type="url"], .carbon input[type="search"], .carbon input[type="tel"], .carbon input[type="color"], .carbon .uneditable-input
{
	box-shadow: 1px 1px 2px #222 inset;
	-moz-box-shadow: 1px 1px 2px #222 inset;
	-webkit-box-shadow: 1px 1px 2px #222 inset;
	padding-left: 12px;
	background-color: #444;
	color: #fff;
	border: 1px solid #777;
}
.nform .c_image
{
	box-shadow: 0px 1px 4px #ccc;
	-moz-box-shadow: 0px 1px 4px #ccc;
	-webkit-box-shadow: 0px 1px 4px #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.nform.curvy .c_image
{
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.curvy .input-append textarea, .curvy .input-append input[type="text"], .curvy .input-append input[type="password"], .curvy .input-append input[type="datetime"], .curvy .input-append input[type="datetime-local"], .curvy .input-append input[type="date"], .curvy .input-append input[type="month"], .curvy .input-append input[type="time"], .curvy .input-append input[type="week"], .curvy .input-append input[type="number"], .curvy .input-append input[type="email"], .curvy .input-append input[type="url"], .curvy .input-append input[type="search"], .curvy .input-append input[type="tel"], .curvy .input-append input[type="color"], .curvy .input-append .uneditable-input 
{
	border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
.nform.curvy .input-append .add-on:last-child
{
	border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.nform.carbon.curvy .input-append .add-on:last-child
{
	border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	background-color: #666;
	border: 1px solid #777;
}
.nform.carbon .input-append .add-on:last-child
{
	background-color: #666;
	border: 1px solid #777;
}

// Modal
.nform .close_custom
{
	font-size: 32px;
	margin-top: 15px;
	margin-right: 15px;
}
.nform .nform_res
{
	margin-left: 15px;
}
.nform .form_ul .nform_res
{
	padding: 50px 20px;
	text-align: center;
	font-size: 24px;
	color: #999;
	text-shadow: 0px 0px 1px #fff;

}


.bar {
    height: 18px;
    background: green;
}
.fileupload-cover
{
  width: 125px;
  padding: 0px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  height: 25x;
  line-height: 30px;
}
.fileupload
{
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0.0;
  /* Safari 1.x */
  -khtml-opacity: 0.0;
  /* Good browsers */
  opacity: 0.0;
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 145px !important;
	height: 25px !important;
  cursor: pointer;
  margin: 0;
   cursor: pointer;
}
.fileupload span
{
   cursor: pointer;
}
.upload_ul li
{
	display: block;
	height:30px;
	margin: 3px 0px;
	padding: 0;
}
.upload_ul
{
	margin: 0;
	margin-top: 8px;
	padding: 0;
	min-width: 270px;
	margin-left: 0px;
}
.bootstrap .upload_ul
{
	margin: 0;
	margin-top: 8px;
	padding: 0;
	min-width: 270px;
	margin-left: 0px;
}
.upload_ul .progress
{
	margin-bottom: 0px;
	margin-right: 0px;
	width: 64%;
	display: inline-block;
	height: 30px;
	float: left;
}
.cover_fileupload
{
	display: inline-block;
	width: 30%;
	height: 30px;
	margin-left: 6px;
}
.file_name
{
vertical-align: top;
font-size: 11px;
line-height: 30px;
height: 30px;
color: #888;
position: absolute;
display: inline-block;
width: 60px;
padding-left: 20px;
}
.file_name .icon-trash
{
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	left: 0px;
	top: 6px;
	cursor: pointer;
}
.bootstrap.nform li .bar .name_bar
{
	font-size: 13px;
	font-style: italic;
	line-height: 30px;
}

.nform.label_line .input_cover
{
	margin-left: 10px;
	margin-right: 22px;
	display: block;
	width: auto;
}
.nform.label_line .cap_cover
{
	text-align: left;
	margin-left: 10px;
	margin-right: 22px;
	display: block;
	width: auto;
}


/********************* Modal Styles *********************/
#myModal .nform
{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}
#myModal.modal
{background-color: none; width: auto;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}.modal-backdrop.hide{opacity:0;}
.modal-backdrop,.modal-backdrop.hide.in{opacity:0.8;filter:alpha(opacity=80);}
.modal{ width: auto; background-color: inherit; border: none; position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-220px;-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:none;}.modal.hide{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
.modal.hide.in{top:10%;}
.modal-header{padding:9px 15px;border-bottom:1px solid #eee;}.modal-header .close{margin-top:2px;}
.modal-header h3{margin:0;line-height:30px;}
.modal-body{position:relative;overflow-y:auto;max-height:400px;padding:15px;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;*zoom:1;}.modal-footer:before,.modal-footer:after{display:table;content:"";line-height:0;}
.modal-footer:after{clear:both;}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.modal-footer .btn-block+.btn-block{margin-left:0;}
.modal_close{
	position: absolute; 
	top: 7px; 
	right: 7px; 
	background: none; 
	border: none; 
	font-size: 16px; 
	height: 28px; 
	width: 28px; 
	font-weight: bold; 
	line-height: 24px; 
	padding: 0px;
	cursor: pointer;
}


/**** BootStrap Fixes *****/
.datepicker.dropdown-menu
{
	position: absolute;
	background-color: #fff;
	display: none;
	border: 1px solid #DDD;
	box-shadow: 0px 1px 2px #ddd;
	-moz-box-shadow: 0px 1px 2px #ddd;
	-webkit-box-shadow: 0px 1px 2px #ddd;
	z-index: 10000;
	padding: 8px 8px 8px 8px;
}
.datepicker td
{
	padding: 6px 2px 6px 0px;
	font-size: 12px;
}
.datepicker th.dow
{
	padding-top: 6px;
}
.datepicker th.prev, .datepicker th.next 
{
	background-color: #F4F4F4;
	font-family: Arial;
	font-weight: normal;
	font-size: 22px;
}
.datepicker th.prev:after
{
	content: ='<';
	position: absolute;
	display: block;
	background-color: #333;
	height: 20px;

}
.datepicker th.next:before
{
	content: ='>';
	position: absolute;
	display: block;
	background-color: #333;
	height: 20px;

}
.datepicker th
{
font-weight: bold;
font-size: 14px;
}
.datepicker th.switch
{
	line-height: 30px;
}
.nform .icon-envelope, .nform .icon-home, .nform .icon-time
{
	vertical-align: middle;
	margin-bottom: 3px;
}

th .icon-arrow-left {
background-position: -240px -96px;
vertical-align: middle;
display: inline-block;
width: 14px;
height: 14px;
margin-top: 1px;
line-height: 14px;
background-image: url("../bootstrap/img/glyphicons-halflings.png");
background-repeat: no-repeat;
}
th .icon-arrow-right {
background-position: -264px -96px;
vertical-align: middle;
display: inline-block;
width: 14px;
height: 14px;
margin-top: 1px;
line-height: 14px;
background-image: url("../bootstrap/img/glyphicons-halflings.png");
background-repeat: no-repeat;
}
.nform hr
{
background-color: #ddd;
height: 1px;
box-shadow: none;
border: none;
margin-top: 10px;
margin-bottom: 10px;
}

#drive_load
{
	position: absolute;
	width: 120px;
	line-height: 32px;
	font-size: 13px;
	color: #444;
	font-style: italic;
	margin-left: 12px;
}



.form_ul li.inline2
{
display: inline-block;
width: 48%;
vertical-align: top;
min-width: 210px;
}

.form_ul li.inline2 .cap_cover
{
	text-align: left;
}

.form_ul li.inline3
{
display: inline-block;
width: 31.3%;
vertical-align: top;
min-width: 120px;
}

.form_ul li
{
	padding: 1%;
	margin: 0;
}

.form_ul li.inline3 .cap_cover
{
	text-align: left;
}


.nform .ref_link
{
	line-height: 12px;
	font-size: 11px;
	font-style: none;
	text-decoration: none;
	margin-top: -4px;
}



/* Responsive */
/* Responsive */
@media screen and (max-device-width: 740px){




textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select
{

font-size: 1em !important;

}


	.form_ul li.inline2, .form_ul li.inline3
	{
		width: auto;
		display: block;
	}
	.nform
	{
		width: 96% !important;
		margin-top: 10px;
		margin-left: 2% !important;
	}
	.logo_form
	{
		width: 50%;
	}
	.tooltip
	{
		display: none !important;
	}
	.cap_cover, .input_cover
	{
		display: block !important; 
		width: 100% !important;
		text-align: center !important;
	}
	.nform.mobile_left .input_cover, .nform.mobile_left .cap_cover

	{
		text-align: left !important;
	}

	.label_line .cap_cover, .label_line .input_cover
	{
		display: block !important; 
		width: 100% !important;
		text-align: left !important;
	}
	.reason_ta
	{
		width: 90% !important;
	}
	.label_line .opt_val
	{
		width: 80%;
		text-align: left;
	}
	.valid_show
	{
		display: block;
		position: static !important;
		margin-top: 6px;
	}

	.valid_show:before, .valid_show:after
	{
		display: none !important;
	}
	.nform .upload_input_cover
	{
		text-align: center !important;
		max-width: auto !important;
		margin-right: auto;
		margin-left: auto;
	}
	.nform.mobile_left .upload_input_cover
	{
		text-align: left !important;
	}
	.nform .fileupload-cover
	{
		display: block;
	}
	.nform .label_radio, .nform .label_check
	{
		text-align: left;
	}
	.nform .box_cover
	{
		max-width: 100%;
		width: 100%;
	}

}