.btn {
    border: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
}
.btn:hover,
.btn:focus {
    color: #ffffff;
}
.btn:active,
.btn.active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    background-color: #bdc3c7;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.7;
    filter: alpha(opacity=70);
}
        .btn > [class^="fui-"] {
              margin: 0 1px;
                position: relative;
                  line-height: 1;
                    top: 1px;
                }
                .btn-xs.btn > [class^="fui-"] {
  font-size: 11px;
    top: 0;
}
.btn-hg.btn > [class^="fui-"] {
      top: 2px;
  }
  .btn-default {
        color: #ffffff;
          background-color: #bdc3c7;
      }
      .btn-default:hover,
      .btn-default:focus,
      .btn-default:active,
      .btn-default.active,
      .open .dropdown-toggle.btn-default {
            color: #ffffff;
              background-color: #cacfd2;
                border-color: #cacfd2;
            }
            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
    background: #a1a6a9;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
      background-color: #bdc3c7;
  }
  .btn-primary {
        color: #ffffff;
          background-color: #1abc9c;
      }
      .btn-primary:hover,
      .btn-primary:focus,
      .btn-primary:active,
      .btn-primary.active,
      .open .dropdown-toggle.btn-primary {
            color: #ffffff;
              background-color: #48c9b0;
                border-color: #48c9b0;
            }
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
      background: #16a085;
  }
  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
        background-color: #1abc9c;
    }
