.items li a .overlay,
.overlay a .more {
    background: #222;
}
.forms fieldset .text-input,
.forms fieldset .text-area,
.searchform input,
.comment-form input,
.comment-form textarea {
    padding-top: 8px;
}
.bannercontainer {
    width: 100% !important;
    padding: 0;
    height: 460px;

}
.spec {
	color: #000 !important;}